# OS junk files
[Tt]humbs.db
*.DS_Store

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Ide config files
.project
.pydevproject
.idea/